.block-product-category {
    height: 260px;
    background: rgb(253, 253, 253);
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    -webkit-box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
}

.block-product-category:hover {
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

.block-product-category a.img-product {
    text-align: center;
    margin-top: 10px;
}

.block-product-category div.product-name {
    height: 40px;
    padding: 0 10px;
}

.block-product-category div.product-price {
    padding-left: 15px;
}

.block-product-category .button.btn-add-cart {
    position: absolute;
    bottom: 10px;
    right: 12px;
    width: 70px;
    height: 25px;
}

.block-product-category div.product-price {
    padding-left: 15px;
    text-decoration: line-through;
    height: 25px;
    margin-top: -7px;
}

.block-product-category div.discount-price {
    padding-left: 15px;
    font-size: 20px;
    color: red;
    height: 25px;
}

.block-product-category {
    min-width: 0 !important;
}

.block-product-category .img-product .img-product-category {
    width: 100%;
    height: 130px;
}

.easyPaginateNav a {
    padding: 5px;
    width: 10px;
    font-size: 20px;
}

.form-control.number {
    border-radius: 0;
}

.search .button.btn-search-product {
    width: 100%;
    height: 40px;
    font-size: 22px;
}

.view-product {
    padding-top: 20px;
}

.view-product .shop-sort-by-options {
    height: 50px;
    background: #fff;
}
