.headertop_desc {
    padding: 20px 0 !important;
    border-bottom: 1px solid #EEE;
    height: 60px;
}

.account_desc {
    float: right;
}

.account_desc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.account_desc ul li {
    display: inline;
    border-left: 1px dotted #CCC;
}

.account_desc ul li:first-child {
    border: none;
}

.account_desc li a {
    font-size: 0.83em;
    color: #9C9C9C;
    padding: 0 10px;
    font-family: 'ambleregular';
}

.account_desc li a:hover {
    color: rgb(169, 24, 24);
}

.breadcrumb {
    border-radius: 0;
    background: #fff;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button.btn-add-cart:hover, .button.btn-search-product:hover,
.block-info-product .btn-add-cart-product-detail:hover,
.btn-add-product:hover {
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
}

.block-product-home:hover {
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

.button.btn-add-cart {
    position: absolute;
    bottom: 5px;
    right: 8px;
}

.button.btn-add-product{
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
}

.block-product {
    min-width: 0 !important;
}

.badge {
    font-size: 18px;
    background: #EC8B43;
    border-radius: 20px;
    font-family: sans-serif;
}

.block-sub-category {
    background: rgb(253, 253, 253);
    height: 160px;
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    -webkit-box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
}

.block-sub-category a {
    text-align: center;
    padding-left: inherit;
    padding-right: inherit;
    height: 160px;
}

.block-sub-category a img {
    margin-top: 15px;
}

.block-product-home {
    background: rgb(253, 253, 253);
    height: 240px;
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    -webkit-box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px -2px rgba(0,0,0,0.5);
}

.block-product-home a.img-product {
    text-align: center;
    margin-top: 10px;
}

.block-product-home a.img-product .image-product {
    width: 100%;
    height: 110px;
}

.block-product-home div.product-name {
    height: 40px;
    padding: 0 5px;
}

.block-product-home div.product-price {
    padding-left: 15px;
    text-decoration: line-through;
    height: 25px;
}

.block-product-home div.discount-price {
    padding-left: 15px;
    font-size: 20px;
    color: red;
    height: 25px;
}

.col_1_of_4:first-child {
    margin-left: 0; 
}

.col_1_of_4 {
    display: block;
    float: left;
    margin: 0 0 1% 3.6%;
}

.col_1_of_4.span_1_of_4 .social-icons .fa {
    font-size: 25px;
}

.copy_right {
    text-align: center;
    border-top: 1px solid #EEE;
    padding: 10px 0 0 0;
    font-family: Verdana, Arial, Helvetica, , sans-serif;
}

.copy_right p {
    font-size: 0.823em;
    color: #747474;
}

.easyPaginateNav a {
    padding: 5px;
    font-size: 20px;
}

.footer {
    position: relative;
    background: #FCFCFC;
    border-top: 1px solid #CECECE;
    margin: 0 auto;
}

.glyphicon {
    left: -3px;
    top: 0;
    font-size: 10px;
}

.group {
    zoom: 1;
}

.head-top {
    margin-top: 50px;
    margin-bottom: 15px;
}

.header-search, .dropdown.search {
    margin-top: 20px;
    padding: 0;
}

.head-top .dropdown.search .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

img.img-title {
    margin-top: 4px;
    height: 140px;
    width: 100%
}

.img-title-right {
    padding: 0 2px 0 0;
}

.img-title-left {
    padding: 0 0 0 2px;
}

.list-group, .list-group-item, .list-group-item.active {
    border-radius: 0 !important;
}

.label.label-success.title-image {
    font-size: 100%;
    margin: 0 3px;
}

.label.label-success.title-image .glyphicon.glyphicon-remove {
    cursor: pointer;
    padding-left: 15px;
}

div.cate div.submenu {
    position: absolute;
    top: 40px;
    z-index: 1;
    padding-left: 0;
    display: none;
}

.categories .submenu {
    background: #fff !important;
    padding: 0;
}

div.cate:hover div.submenu {
    display: block !important;
}

.categories .list-group-item.active {
    background: #B81D22;
    border-color: #B81D22;
    padding: 0 0 0 10px;
}

.modal-content {
    border-radius: 0; 
}

.navbar.navbar-inverse.navbar-fixed-top {
    background: #a52323;
    border-color: #a52323; 
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background: #b33b3b;
}

.navbar.navbar-inverse.navbar-fixed-top .navbar-header a.navbar-brand:hover {
    background: #822d2d;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.social-icons {
    padding-top: 8%;
}

.social-icons li {
    width: 30px;
    height: 30px;
    padding: 0 0 0 5px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}

.span_1_of_4 {
    width: 20.5%;
    padding: 1.5% 1.5% 0 0;
    border-left: 1px solid #CECECE;
}

.span_1_of_4 h4 {
    color: #4F4F4F;
    margin-bottom: .5em;
    font-size: 1.2em;
    line-height: 1.2;
    font-family: 'ambleregular';
    font-weight: normal;
    margin-top: 0;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 0.5em;
    padding-left: 20px; 
}

.span_1_of_4 ul {
    padding-left: 20px;
}

.span_1_of_4 li a {
    font-size: 0.9em;
    padding: 0.4em 0;
    color: #2A5C86;
    font-family: 'ambleregular';
    display: block;
    cursor: pointer;
}

.span_1_of_4 li span {
    font-size: 1em;
    font-family: 'ambleregular';
    color: #2A5C86;
    cursor: pointer;
    margin: 10px 0;
    display: block;
}

.title-category {
    margin-left: 6px;
    font-family: initial;
}

.rating-container.rating-animate {
    margin-top: -30px;
    margin-left: 10px; 
}

.rating-container .star {
    margin: 0 !important;
}

.rating-container .clear-rating, .rating-container .caption {
    margin: 0px !important;
    display: none !important;
}

.rating-container.rating-animate .star .glyphicon {
    left: 0;
    font-size: 13px;
    margin: 0;
}

.view-all {
    text-align: right;
    margin-top: -22px;
}

.view-category {
    border-bottom: 3px solid #d67777;
    height: 50px;
    padding: 5px;
    margin-top: 10px; 
}

.view-product {
    background: rgb(245, 245, 245);
    padding-bottom: 20px;
}

.view-top-shop .view-all-shop {
    position: absolute;
    right: 0;
    top: 10px;
}

/*discount*/
.ribbon {
    position: absolute;
    height: 30px;
    top: 10px;
    left: -8px;
    background-color: #f71f1f;
    padding: 0 15px 0 15px;
    max-width: 100px;
    color: #fffd61;
    font-weight: bold;
    line-height: 30px;
    font-weight: 400;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    bottom: -6px;
    left: 3px;
    border: 6px solid transparent;
    border-bottom: 6px solid #8c0d0d;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
