.btn-button {
    background: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    padding: 3px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4 {
    border: 1px solid #e7e7e7;
}

.button4:hover {
    background-color: rgba(231, 231, 231, 0.5);
}

.block-product-category .image-product-all {
    width: 100%;
    height: 130px;
}

.block-info-detail-shop {
    height: 120px;
    background: #fff;
}

.block-info-detail-shop .avatar-shop {
    background: red;
    height: 120px;
    color: #fff;
    padding: 0;
}

.block-info-detail-shop .block-in {
    height: 120px;
    background: rgba(0,0,0,.4);
}

.block-info-detail-shop .img-avatar {
    border-radius: 40px;
    margin-top: 10px;
}

.block-info-detail-shop .block-info-in-shop {
    height: 60px;
    padding: 20px 50px;
    font-size: 19px;
    color: #828282;
}

.block-title-tab {
    background: #fff;
    width: 100%;
    border: none;
}

.block-detail-tab {
    background: #fff;
    margin-top: 10px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid red;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
}

a, a:hover {
    text-decoration: none;
}

body {
    background: #eeeeee;
}

hr {
    border: 1px solid #d3d3d3;
}

div.block-categoty-shop {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
}

div.block-categoty-shop.one {
    border: 5px solid rgb(139, 161, 80);
    background: rgb(168, 195, 97);
}

div.block-categoty-shop.two {
    border: 5px solid red;
    background: #ff5151;
}

div.block-categoty-shop.three {
    border: 5px solid rgb(68, 117, 174);
    background: rgb(80, 139, 206);
}

div.block-categoty-shop.four {
    border: 5px solid rgb(66, 185, 201);
    background: rgb(73, 203, 221);
}

div.name-category-shop {
    text-align: center;
    margin-top: 30px;
    height: 50px;
}

button.btn-search-home {
    border-radius: 0pc 25px 25px 0px;
}

.block-product-shop {
    background: #fff;
    padding: 0px;
    margin-bottom: 20px;
}

.block-product-shop .caption {
    height: 150px;
}

.block-product-shop .product-name-shop {
    padding-left: 10px;
    height: 40px;
}

.block-product-shop .price-and-number {
    margin-top: 15px;
    padding-left: 10px;
}

.block-product-shop .price-and-number span.product-in-stock {
    position: absolute;
    right: 15px;
}

.block-product-shop .buy-and-comment {
    margin-top: 15px;
    padding-left: 10px
}

.block-product-shop .buy-and-comment .comment {
    position: absolute;
    right: 15px;
}

.border-shadow-bottom.nav-header {
    background: #fff;
    border: none;
    height: 50px;
    padding: auto;
}

.border-radius-none {
    border-radius: 0px;
}

.border-shadow-right-bottom {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
    -moz-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
    box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
}

.border-shadow-bottom {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
    -moz-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
    box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.9);
}

.container .introduct-shop {
    margin-top: 50px;
    text-align: center;
}

.clear { 
    clear:both;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

.nav.navbar-nav.navbar-right .img-avatar {
    margin-top: 10px;
    border-radius: 20px; 
}

.navbar.navbar-inverse.border-radius-none {
    margin-bottom: 0px;
    background: #a52323;
    border: none;
}

ul.option-shop {
    list-style: none;
    text-align: -webkit-center;
}

ul.option-shop li {
    display: inline-block;
    height: 50px;
    padding: 15px 10px;
    font-size: 18px;
    font-family: -webkit-body;
}

ul.option-shop li:hover {
    background: #e6e6e6;
}

.speace20 {
    display: block;
    height: 20px;
}

.speace30 {
    height: 30px;
    display: block;
}

.search-home {
    border-radius: 25px 0px 0px 25px;
}

ul.nav.navbar-nav li:hover {
    background: #710909;
}
